<h1>Edit task</h1>

<%= render 'form', task: @task %>

<hr>
<%= link_to new_task_path do%>
<i class="fa fa-plus" aria-hidden="true">Add a new task</i>
<% end %>

<hr>
<%= link_to tasks_path do %>
<i class="fa fa-arrow-left" aria-hidden="true">Back to list</i>
<% end %>
