<h1>My tasks</h1>
<ul class="list-inline">
  <% @tasks.each do |task| %>
  <div class="list-check">
    <li class="list-inline-item"><%= check_box("task", task.id, {checked: :completed}) %></li>
    <li class="list-inline-item"><%= link_to task.title, task_path(task) %></li>
    <li class="list-inline-item"><%= link_to task_path(task) do %>
    <i id="delete" class="fa fa-trash" aria-hidden="true"></i>
    <% end %></li>
  </div>
  <% end %>
</ul>

<%= link_to tasks_new_path do%>
<i id="plus" class="fa fa-plus" aria-hidden="true">Add a new task</i>
<% end %>

