// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plus {
  margin-left: 20px;
  color: #007bff;
}
#back {
  margin-left: 20px;
}
#checkbox {
  margin-right: 10px;
  margin-bottom: 20px;
}
